# Dependências
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Diretório de cobertura de testes
coverage/

# Diretório de distribuição
dist/
build/

# Outros
.vscode/
.idea/
*.swp
*.swo
